<div class="modal">
    <ion-header-bar class="bar-light">
        <button class="button button-clear button-stable" ng-click="commentModal.hide()">Cancel</button>
        <h1 class="title">Comment</h1>
        <button type="submit" class="button button-full button-clear button-clear button-balanced" onclick="submitCommentPage1(currentComment)">Next</button>
    </ion-header-bar>
    <ion-content padding="true">
        <div class="list list-inset">
            <h3>New Comment</h3>
            <form ng-submit="submitCommentPage1(currentComment)">
                <p>Comment reference: {{ ::currentComment.reference }}</p>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Address</span>
                    <input type="text" placeholder="Address" ng-model="currentComment.address">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Phone</span>
                    <input type="tel" placeholder="Contact phone" ng-model="currentComment.userPhone">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="Contact email" ng-model="currentComment.userEmail">
                </label>
                <label class="item item-radio">
                    <input type="radio" name="commentType" value="Objection" ng-model="currentComment.type">
                    <span class="item-content">
                        Objection
                    </span>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <label class="item item-radio">
                    <input type="radio" name="commentType" value="Support" ng-model="currentComment.type">
                    <span class="item-content">
                        Support
                    </span>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <label class="item item-radio">
                    <input type="radio" name="commentType" value="Representation" ng-model="currentComment.type" checked>
                    <span class="item-content">
                        Representation
                    </span>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
            </form>
        </div>
    </ion-content>
</div>