<ion-view view-title="My council">
    <ion-content padding="false">
        <ion-refresher on-refresh="pullRefresh()"
                       pulling-text="Pull to refresh..."
                       refreshing-text="Refreshing!"
                       refreshing-icon="ion-loading-c">
        </ion-refresher>
        <div class="row responsive-sm">
            <div class="col">
                <div class="card">
                    <div class="item item-divider top-calm">
                        Health
                    </div>
                    <div class="item">
                        <p>Health links in Bath and North East Somerset</p>
                    </div>
                    <div class="item tabs tabs-secondary item-divider tabs-icon-left">

                    </div>
                </div>
            </div>
            <div class="col">

            </div>
        </div>
    </ion-content>
</ion-view>