<ion-content padding="true">
    <div class="row responsive-sm">
        <div class="col">
            <div class="card" id="divCouncilConnect">
                <div class="item item-image">
                    <img src="images/logo.svg"/>
                </div>
                <div class="item tabs tabs-primary tabs-icon-left">
                    <a class="tab-item" ng-click="showPopup('Bath &amp North East Somerset Council App', 'The Bath &amp North East Somerset Council residents app provides reporting facilities to easily connect with the Council and report issues')">
                        <i class="icon positive ion-information-circled"></i>
                    </a>
                    <a class="tab-item" href="sms://07797806545?body=BathAppMessage:">
                        <i class="icon energized ion-ios-keypad"></i>
                    </a>
                    <a class="tab-item" ng-click="emailCouncilConnect()">
                        <i class="icon royal ion-at"></i>
                    </a>
                    <a class="tab-item" ng-click="showCouncilConnectPopup()">
                        <i class="icon balanced ion-ios-telephone"></i>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="item item-icon-left">
                    <i class="icon ion-map balanced"></i>
                    <h2>Maps</h2>
                </div>
                <div class="item tabs tabs-primary tabs-icon-left">
                    <a class="tab-item" ng-click="showPopup('Local area map', 'The local area map shows a map, with boundary layers and points of interest such as schools, libraries and Council offices.' )">
                        <i class="icon ion-information-circled balanced"></i>
                    </a>
                    <a class="tab-item" href="#/menu/map">
                        <i class="icon ion-more balanced"></i>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="item item-icon-left">
                    <i class="icon assertive ion-compose"></i>
                    <h2>Report It</h2>
                </div>
                <div class="item tabs tabs-primary tabs-icon-left">
                    <a class="tab-item" ng-click="showPopup('Report It', 'Report It allows you to report issues to the council such as missed bins, potholes, or fly tipping.')">
                        <i class="icon assertive ion-information-circled"></i>
                    </a>
                    <a class="tab-item" href="#" ng-click="reportIt()">
                        <i class="icon assertive ion-compose"></i>
                    </a>
                    <a class="tab-item" href="#/menu/reports">
                        <i class="icon assertive ion-more"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="item item-icon-left">
                    <i class="icon ion-ios-person royal"></i>
                    <h2>My Details</h2>
                </div>
                <div class="item tabs tabs-primary tabs-icon-left">
                    <a class="tab-item" ng-click="showPopup('My Details', 'You can store personal details on this device to make reporting issues quicker and easier, and to personalise the information displayed.')">
                        <i class="icon ion-information-circled royal"></i>
                    </a>
                    <a class="tab-item" href="#/menu/details">
                        <i class="icon ion-more royal"></i>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="item item-icon-left">
                    <i class="icon positive ion-information-circled"></i>
                    <h2>My House</h2>
                </div>
                <div class="item tabs tabs-primary tabs-icon-left">
                    <a class="tab-item" ng-click="showPopup('My house', '')">
                        <i class="icon positive ion-information-circled"></i>
                    </a>
                    <a class="tab-item" href="#/menu/house">
                        <i class="icon positive ion-more"></i>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="item item-icon-left">
                    <i class="icon positive ion-information-circled"></i>
                    <h2>My Nearest</h2>
                </div>
                <div class="item tabs tabs-primary tabs-icon-left">
                    <a class="tab-item" ng-click="showPopup('My nearest', '')">
                        <i class="icon positive ion-information-circled"></i>
                    </a>
                    <a class="tab-item" href="#/menu/local">
                        <i class="icon positive ion-more"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</ion-content>