<ion-view cache-view="false" view-title="Residents app">
    <ion-content padding="false">
        <div class="row responsive-sm">
            <div class="col">
                <h5 class="card-header" ng-if="!userData.uprn"><i class="ion-location"></i> Location</h5>
                <div class="card" ng-if="!userData.uprn">
                    <div class="item item-text-wrap top-assertive">
                        <h2>No details or location set</h2>
                    </div>
                    <div class="item item-text-wrap">
                        <p>To begin using this app you need to register and set a location.  Personal details will only be used to customise data shown in the app, and pre-populate report/comment forms.</p>
                    </div>
                    <div class="item item-divider tabs tabs-primary tabs-icon-left">
                        <a class="tab-item" ng-click="register()">
                            <i class="icon balanced ion-ios-location"></i> Set location
                        </a>
                        <a class="tab-item" ng-click="displayOptions()">
                            <i class="icon ion-android-settings assertive"></i> Display options
                        </a>
                    </div>
                </div>
                <h5 class="card-header" ng-if="userData.uprn"><i class="ion-person"></i> Personal details</h5>
                <div class="card" ng-if="userData.uprn">
                    <div class="item item-text-wrap top-calm">
                        <h2 ng-if="userData.firstname">{{ userData.firstname + ' ' + userData.lastname }}</h2>
                    </div>
                    <div class="item item-text-wrap">
                        <p>This page displays any details held about you on this device.  To clear the data held on the device, use the link below.</p>
                    </div>
                    <div class="item item-divider tabs tabs-primary tabs-icon-left">
                        <a class="tab-item" ng-click="displayOptions()">
                            <i class="icon ion-android-settings assertive"></i> Display options
                        </a>
                    </div>
                </div>
                <h5 class="card-header" ng-if="userData.address"><i class="ion-android-home"></i> Stored details</h5>
                <div class="card" ng-if="userData.address">
                    <div class="item item item-icon-left">
                        <p><i class="icon ion-android-home calm"></i> {{ userData.address }}</p>
                    </div>
                    <div class="item item item-icon-left">
                        <p><i class="icon ion-ios-telephone balanced"></i> {{ userData.phone }}</p>
                    </div>
                    <div class="item item item-icon-left">
                        <p><i class="icon ion-at royal"></i> {{ userData.email }}</p>
                    </div>
                    <div class="item item-divider tabs tabs-primary tabs-icon-left">
                        <a class="tab-item" ng-click="deleteData()">
                            <i class="icon assertive ion-android-delete"></i> Remove all data
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <h5 class="card-header" ng-if="news && news['Council news'] && news['Council news'][0]"><i class="fa fa-newspaper-o"></i> Latest news</h5>
                <div class="card" ng-if="news && news['Council news'] && news['Council news'][0]">
                    <div class="item item-text-wrap top-calm">
                        <h2>{{ news['Council news'][0].Name }}</h2>
                    </div>
                    <div class="item item-text-wrap">
                        <p ng-bind-html="(news['Council news'][0].Summary | limitTo: 100)  + '&hellip;'"></p>
                    </div>
                    <div class="item item-divider tabs tabs-primary tabs-icon-left">
                        <a class="tab-item" ng-click="showPopup('{{ news['Council news'][0].Name }}', '{{ news['Council news'][0].Summary }}')">
                            <i class="icon positive ion-more"></i> Read more
                        </a>
                        <a ng-if="news['Council news'][0].Website" class="tab-item" ng-click="openWebsite('{{news['Council news'][0].Website}}')">
                            <i class="icon ion-android-open assertive"></i> Website
                        </a>
                        <a class="tab-item" ng-click="updateNews()">
                            <i class="icon balanced ion-refresh"></i> Refresh
                        </a>
                    </div>
                </div>
                <h5 class="card-header" ng-if="carParkData[0].values.length > 0"><i class="ion-android-car"></i> Car parks</h5>
                <div class="card" ng-if="carParkData[0].values.length > 0">
                    <div class="item item-text-wrap item-text-wrap top-royal">
                        <h2>Available spaces</h2>
                    </div>
                    <div class="item item-text-wrap">
                        <div id="divCarParks"><nvd3 options="carParkOptions" data="carParkData" api="api"></nvd3></div>
                    </div>
                    <div class="item item-divider tabs tabs-primary tabs-icon-left">
                        <a class="tab-item" ng-click="updateCarParks()">
                            <i class="icon balanced ion-refresh"></i> Refresh
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>