<div class="content">
    <h2>My Nearest</h2>
    <p>This page shows local data, relevant to your registered address.</p>
	<button ng-click="displayOptions()" class="button button-full button-clear button-positive">Display options</button>
    <div ng-show="userData.LocalHidden.Libraries">
        <h3>Local libraries</h3>
        <p ng-show="!uprn">No location set</p>
        <div class="list card" ng-repeat="library in librariesNearby.Results">
            <div class="item item-divider">
                {{library.name}}
                <p>{{mToMi(library.Distance)}} miles</p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" browse-to="http://www.librarieswest.org.uk/02_Catalogue/02_001_Search.aspx?">
                    <i class="icon ion-android-book positive"></i> Library catalogue
                </a>
                <a class="tab-item" browse-to="{{library.url}}">
                    <i class="icon ion-earth assertive"></i> Website
                </a>
                <a class="tab-item" browse-to="geo:0,0?q={{library.lat}},{{library.lon}}({{library.name}})">
                    <i class="icon ion-map calm"></i> Map
                </a>
            </div>
        </div>
        <h3>Mobile libraries</h3>
        <p ng-show="!uprn">No location set</p>
        <div class="list card" ng-repeat="library in mobileLibrariesNearby.Results">
            <div class="item item-divider">
                Nearest village stop: <span ng-bind-html="library.village"></span>
                <p>{{mToMi(library.Distance)}} miles</p>
            </div>
            <div class="item item-body">
                <b>Time:</b> {{library.timeAdjusted}}<br />
                <b>Stop:</b> <span ng-bind-html="library.stop"></span><br />
                <b>Day:</b> {{library.day}}<br />
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" browse-to="{{library.url}}">
                    <i class="icon ion-earth assertive"></i> Timetable
                </a>
                <a class="tab-item" browse-to="geo:0,0?q={{library.lat}},{{library.lon}}({{library.village}} mobile library stop)">
                    <i class="icon ion-map calm"></i> Map
                </a>
            </div>
        </div>
    </div>
    <div ng-show="userData.LocalHidden.Schools">
        <h3>Play schools</h3>
        <p ng-show="!uprn">No location set</p>
        <div class="list card" ng-repeat="playschool in playSchoolsNearby.Results.Play_Schools_and_Nurseries_Nearby">
            <div class="item item-divider">
                Play school: {{playschool._}}
                <p>{{mToMi(playschool.Distance)}} miles</p>
            </div>
            <div class="item item-body">
                <b>Address:</b> {{formatAddress(playschool.__,playschool.___,playschool.____)}}<br />
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" browse-to="geo:0,0?q={{playschool.lat}},{{playschool.lon}}({{playschool._}})">
                    <i class="icon ion-map calm"></i> Map
                </a>
            </div>
        </div>
        <h3>Primary schools</h3>
        <p ng-show="!uprn">No location set</p>
        <div class="list card" ng-repeat="primaryschool in primarySchoolsNearby.Results.Primary_Schools_Nearby">
            <div class="item item-divider">
                Primary school: {{primaryschool.name}}
                <p>{{mToMi(primaryschool.Distance)}} miles</p>
            </div>
            <div class="item item-body">
                <b>Address:</b> {{formatAddress(primaryschool.__, primaryschool.___, primaryschool.____)}}
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" browse-to="{{primaryschool.url}}">
                    <i class="icon ion-earth assertive"></i> Website
                </a>
                <a class="tab-item" browse-to="geo:0,0?q={{primaryschool.lat}},{{primaryschool.lon}}({{primaryschool.name}})">
                    <i class="icon ion-map calm"></i> Map
                </a>
            </div>
        </div>

        <h3>Secondary schools</h3>
        <p ng-show="!uprn">No location set</p>
        <div class="list card" ng-repeat="secondaryschool in secondarySchoolsNearby.Results.Secondary_Schools_Nearby">
            <div class="item item-divider">
                {{secondaryschool.name}}
                <p>{{mToMi(secondaryschool.Distance)}} miles</p>
            </div>
            <div class="item item-body">
                <b>Address:</b> {{formatAddress(secondaryschool.__,secondaryschool.___,secondaryschool.____)}}
            </div>
            <div class="item tabs tabs-icon-right">
                <a class="tab-item" browse-to="{{secondaryschool.url}}">
                    <i class="icon ion-earth assertive"></i> Website
                </a>
                <a class="tab-item" browse-to="geo:0,0?q={{secondaryschool.lat}},{{secondaryschool.lon}}({{secondaryschool.name}})">
                    <i class="icon ion-map calm"></i> Map
                </a>
            </div>
        </div>

        <h3>Colleges</h3>
        <p ng-show="!uprn">No location set</p>
        <div class="list card" ng-repeat="college in collegesNearby.Results.Colleges_Nearby">
            <div class="item item-divider">
                {{college._}}
                <p>{{mToMi(college.Distance)}} miles</p>
            </div>
            <div class="item item-body">
                <b>Address:</b> {{formatAddress(college.__, college.___, college.____)}}
            </div>
            <div class="item tabs tabs-icon-right">
                <a class="tab-item" browse-to="geo:0,0?q={{college.lat}},{{college.lon}}({{college._}})">
                    <i class="icon ion-map calm"></i> Map
                </a>
            </div>
        </div>

        <h3>Universities</h3>
        <p ng-show="!uprn">No location set</p>
        <div class="list card" ng-repeat="university in universitiesNearby.Results.Universities_Nearby">
            <div class="item item-divider">
                {{university._}}
                <p>{{mToMi(university.Distance)}} miles</p>
            </div>
            <div class="item item-body">
                <b>Address:</b> {{formatAddress(university.__, university.___, university.____)}}
            </div>
            <div class="item tabs tabs-icon-right">
                <a class="tab-item" browse-to="geo:0,0?q={{university.lat}},{{university.lon}}({{university._}})">
                    <i class="icon ion-map calm"></i> Map
                </a>
            </div>
        </div>
    </div>
    <div ng-show="userData.LocalHidden.Roadworks">
        <h3>Scheduled roadworks</h3>
        <p ng-show="!uprn">No location set</p>
        <div class="list card" ng-repeat="roadworks in roadworksNearby.Results.Roadworks_Nearby">
            <div class="item item-divider">
                {{roadworks.title}}
                <p>Distance: {{mToMi(roadworks.Distance)}} miles</p>
            </div>
            <div class="item item-body">
                {{roadworks._}}<br />
                <b>Location:</b> {{roadworks.Location}}<br />
                <b>Work commenced:</b> {{formatTime(roadworks.Work____commenced)}}<br />
                <b>Due to be completed:</b> {{formatTime(roadworks.Due_____to_____be_____completed_____on)}}
            </div>
            <div class="item tabs tabs-icon-right">
                <a class="tab-item" browse-to="{{roadworks.url}}">
                    <i class="icon ion-earth assertive"></i> More info
                </a>
                <a class="tab-item" browse-to="geo:0,0?q={{roadworks.lat}},{{roadworks.lon}}({{roadworks.title}})">
                    <i class="icon ion-map calm"></i> Map
                </a>
            </div>
        </div>
    </div>
    <div ng-show="userData.LocalHidden.Bus">
        <h3>Bus stops</h3>
        <p ng-show="!uprn">No location set</p>
        <div class="list card" ng-repeat="busstop in busStops.Results.Bus_Stops_Nearby">
            <div class="item item-divider">
                {{busstop.Bus_stop_name}}
                <p>Distance: {{mToMi(busstop.Distance)}} miles</p>
            </div>
            <div class="item tabs tabs-icon-right">
                <a class="tab-item" browse-to="http://www.nextbuses.mobi/WebView/BusStopSearch/BusStopSearchResults?id={{userData.addressSearch}}">
                    <i class="icon ion-android-locate assertive"></i> Timetable Search
                </a>
                <a class="tab-item" browse-to="geo:0,0?q={{busstop.lat}},{{busstop.lon}}({{busstop.Bus_stop_name}})">
                    <i class="icon ion-map calm"></i> Map
                </a>
            </div>
        </div>
    </div>
    <div ng-show="userData.LocalHidden.CarPark">
        <h3>Parking zone</h3>
        <p ng-show="!uprn">No location set</p>
        <div class="list card" ng-repeat="parking in parkingNearby.Results" ng-show="parkingNearby.Results.Parking_Zones">
            <div class="item item-divider">
                {{parking._}}
            </div>
            <div class="item tabs tabs-icon-right">
                <a class="tab-item" browse-to="geo:0,0?q={{parking.lat}},{{parking.lon}}({{parking._}})">
                    <i class="icon ion-map calm"></i> Map
                </a>
            </div>
        </div>
    </div>
    <div ng-show="userData.LocalHidden.Crossings">
        <h3>School crossings</h3>
        <p ng-show="!uprn">No location set</p>
        <div class="list card" ng-repeat="schoolCrossing in schoolCrossings.Results.School_Crossings_Nearby">
            <div class="item item-divider">
                <span ng-bind-html="schoolCrossing.Name_"></span>
                <p>Distance: {{mToMi(schoolCrossing.Distance)}} miles</p>
            </div>
            <div class="item item-body">
                <b>Location:</b> <span ng-bind-html="schoolCrossing._"</span><br />
                <b>Morning times:</b> {{schoolCrossing.Morning__times}}<br />
                <b>Afternoon times:</b> {{schoolCrossing.Afternoon___times}}<br />
            </div>
            <div class="item tabs tabs-icon-right">
                <a class="tab-item" browse-to="geo:0,0?q={{schoolCrossing.lat}},{{schoolCrossing.lon}}({{schoolCrossing._}})">
                    <i class="icon ion-map calm"></i> Map
                </a>
            </div>
        </div>
    </div>
    <div ng-show="userData.LocalHidden.Sports">
        <h3>Health and fitness centres</h3>
        <p ng-show="!uprn">No location set</p>
        <div class="list card" ng-repeat="healthcentre in healthAndFitnessNearby.Results.Health_and_Fitness_Centres_Nearby">
            <div class="item item-divider">
                {{healthcentre.name}}
                <p>Distance: {{mToMi(healthcentre.Distance)}} miles</p>
            </div>
            <div class="item tabs tabs-icon-right">
                <a class="tab-item" browse-to="{{healthcentre.url}}">
                    <i class="icon ion-earth assertive"></i> Website
                </a>
                <a class="tab-item" browse-to="geo:0,0?q={{healthcentre.lat}},{{healthcentre.lon}}({{healthcentre.name}})">
                    <i class="icon ion-map calm"></i> Map
                </a>
            </div>
        </div>
    </div>
    <div ng-show="userData.LocalHidden.Planning">
        <h3>Planning applications</h3>
        <p ng-show="!uprn">No location set</p>
        <div class="list card" ng-repeat="application in planningApplicationsNearby.Results.Planning_Applications_Nearby">
            <div class="item item-divider">
                Planning reference: {{application.title}}
                <p>Distance: {{mToMi(application.Distance)}} miles</p>
            </div>
            <div class="item item-body">
                {{application.PROPOSAL}}<br />
                <b ng-show="application.Consulation___Expiry___Date">Consultation expiry date:</b> {{application.Consulation___Expiry___Date}}
            </div>
            <div class="item tabs tabs-icon-right">
                <a class="tab-item" browse-to="http://isharemaps.bathnes.gov.uk{{application.url}}">
                    <i class="icon ion-earth assertive"></i> More info
                </a>
                <a class="tab-item" browse-to="geo:0,0?q={{application.lat}},{{application.lon}}({{application.title}})">
                    <i class="icon ion-map calm"></i> Map
                </a>
            </div>
        </div>
    </div>
    <div ng-show="userData.LocalHidden.Licenses">
        <h3>New license applications</h3>
        <p ng-show="!uprn">No location set</p>
        <div class="list card" ng-repeat="newApplication in newLicensingAppsNearby.Results.New_Licensing_Applications_Nearby" ng-show="newLicensingAppsNearby.Results.New_Licensing_Applications_Nearby.length">
            <div class="item item-divider">
                License reference: {{newApplication.title}}
                <p>Distance: {{mToMi(newApplication.Distance)}} miles</p>
            </div>
            <div class="item item-body">
                <b>Who:</b><span ng-bind-html="newApplication.Licence"></span><br />
                <b>Address:</b> {{newApplication.Address}}
            </div>
            <div class="item tabs tabs-icon-right">
                <a class="tab-item" browse-to="http://isharemaps.bathnes.gov.uk{{newApplication.url}}">
                    <i class="icon ion-earth assertive"></i> More info
                </a>
                <a class="tab-item" browse-to="geo:0,0?q={{newApplication.lat}},{{newApplication.lon}}({{newApplication.title}})">
                    <i class="icon ion-map calm"></i> Map
                </a>
            </div>
        </div>

        <h3>Issued license applications</h3>
        <p ng-show="!uprn">No location set</p>
        <div class="list card" ng-repeat="issuedApplication in issuedLicensingAppsNearby.Results.Issued_Licensing_Applications_Nearby" ng-show="issuedLicensingAppsNearby.Results.Issued_Licensing_Applications_Nearby.length">
            <div class="item item-divider">
                Reference: {{issuedApplication.title}}
                <p>Distance: {{mToMi(issuedApplication.Distance)}} miles</p>
            </div>
            <div class="item item-body">
                <b>Who:</b> <span ng-bind-html="issuedApplication.LINK"></span><br />
                <b>Address:</b> {{issuedApplication.Address}}
            </div>
            <div class="item tabs tabs-icon-right">
                <a class="tab-item" browse-to="http://isharemaps.bathnes.gov.uk{{issuedApplication.url}}">
                    <i class="icon ion-earth assertive"></i> More info
                </a>
                <a class="tab-item" browse-to="geo:0,0?q={{issuedApplication.lat}},{{issuedApplication.lon}}({{issuedApplication.title}})">
                    <i class="icon ion-map calm"></i> Map
                </a>
            </div>
        </div>
    </div>
    <div ng-show="userData.LocalHidden.ParksAndRec">
        <h3>Parks</h3>
        <p ng-show="!uprn">No location set</p>
        <div class="list card" ng-repeat="park in parksNearby.Results.Parks_or_Open_Spaces_Nearby">
            <div class="item item-divider">
                Park: <span ng-bind-html="park._"></span>
                <p>Distance: {{mToMi(park.Distance)}} miles</p>
            </div>
            <div class="item tabs tabs-icon-right">
                <a class="tab-item" browse-to="geo:0,0?q={{park.lat}},{{park.lon}}({{park._}})">
                    <i class="icon ion-map calm"></i> Map
                </a>
            </div>
        </div>

        <h3>Play areas</h3>
        <p ng-show="!uprn">No location set</p>
        <div class="list card" ng-repeat="playarea in playAreasNearby.Results.Play_Areas_Nearby">
            <div class="item item-divider">
                Play area: {{playarea._}}
                <p>Distance: {{mToMi(playarea.Distance)}} miles</p>
            </div>
            <div class="item tabs tabs-icon-right">
                <a class="tab-item" browse-to="geo:0,0?q={{playarea.lat}},{{playarea.lon}}({{playarea._}})">
                    <i class="icon ion-map calm"></i> Map
                </a>
            </div>
        </div>
    </div>
    <div ng-show="userData.LocalHidden.Allotments">
        <h3>Allotments</h3>
        <p ng-show="!uprn">No location set</p>
        <div class="list card" ng-repeat="allotment in allotmentsNearby.Results.Allotments_Nearby">
            <div class="item item-divider">
                Allotment: <span ng-bind-html="allotment._"></span>
                <p>Distance: {{mToMi(allotment.Distance)}} miles</p>
            </div>
            <div class="item item-body">
                <b>Provided by:</b> {{allotment.ProvidedAdjusted}}
            </div>
            <div class="item tabs tabs-icon-right">
                <a class="tab-item" browse-to="geo:0,0?q={{allotment.lat}},{{allotment.lon}}({{allotment._}})">
                    <i class="icon ion-map calm"></i> Map
                </a>
            </div>
        </div>
    </div>
</div>