<ion-side-menus enable-menu-with-back-views="true">
    <!-- Center content -->
    <ion-side-menu-content>
        <ion-nav-bar class="bar-calm">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon" ng-click="options()">
                    <i class="icon ion-settings"></i>
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="mainContent" class="background"></ion-nav-view>
    </ion-side-menu-content>
    <!-- Left menu -->
    <ion-side-menu side="left" expose-aside-when="(min-width:1024px)">
        <ion-content>
            <div id="divLogo" class="item item-image">
                <img src="images/logo.png" />
            </div>
            <div class="item tabs item-divider tabs-primary tabs-icon-left">
                <a class="tab-item" ng-click="showPopup('Bath &amp North East Somerset Council App', 'The Bath &amp North East Somerset Council residents app provides reporting facilities to easily connect with the Council and report issues')">
                    <i class="icon positive ion-help-circled"></i> Help
                </a>
                <a class="tab-item" ng-click="textTo('07797806545','Residents app message: ')">
                    <i class="icon energized ion-android-textsms"></i> Text
                </a>
                <a class="tab-item" ng-click="emailTo('councilconnect@bathnes.gov.uk')">
                    <i class="icon royal ion-at"></i> Email
                </a>
                <a class="tab-item" ng-click="showCouncilConnectPopup()">
                    <i class="icon balanced ion-ios-telephone"></i> Call
                </a>
            </div>
            <ul class="list">
                <li><a href="#/menu/home" class="item item-icon-left" menu-close><i class="icon calm ion-home"></i>Home</a></li>
                <li class="item item-divider">The Council</li>
                <li><a href="#/menu/news" class="item item-icon-left" menu-close><i class="icon calm fa fa-newspaper-o"></i>News</a></li>
                <li><a href="#/menu/mycouncil" class="item item-icon-left" menu-close><i class="icon calm ion-chatbubbles"></i>My Council</a></li>
                <li class="item item-divider">Your environment</li>
                <li><a href="#/menu/house" class="item item-icon-left" menu-close><i class="icon calm ion-location"></i>My House</a></li>
                <li><a href="#/menu/reports" class="item item-icon-left" menu-close><i class="icon calm ion-compose"></i>Report Issue</a></li>
                <li class="item item-divider">My nearest</li>
                <li><a href="#/menu/local" class="item item-icon-left" menu-close><i class="icon calm ion-pinpoint"></i>Services</a></li>
                <li><a href="#/menu/health" class="item item-icon-left" menu-close><i class="icon calm ion-medkit"></i>Health providers</a></li>
                <li class="item item-divider">Out and about</li>
                <li><a href="#/menu/map" class="item item-icon-left" menu-close><i class="icon calm ion-map"></i>Local Map</a></li>
            </ul>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>