<ion-view view-title="My council">
    <ion-content padding="false">
        <ion-refresher on-refresh="pullRefresh()"
                       pulling-text="Pull to refresh..."
                       refreshing-text="Refreshing!"
                       refreshing-icon="ion-loading-c">
        </ion-refresher>
        <div class="row responsive-sm">
            <div class="col">
                <div class="card">
                    <div class="item item-divider top-calm">
                        My council
                    </div>
                    <div class="item">
                        <p>Details about local government in your area, and how to contact the Council.</p>
                    </div>
                </div>
                <div ng-repeat="(key, data) in (myCouncil | splitObject:'left')">
                    <h5 class="card-header">{{ key }}</h5>
                    <div class="card" ng-repeat="dataRow in data">
                        <div class="item item-divider top-balanced" ng-show="dataRow.Name">
                            {{ dataRow.Name | title }}
                        </div>
                        <div class="item item-text-wrap" ng-if="key != 'Councillors'">
                            <p>
                                <span ng-repeat="(key, data) in dataRow | generalProperties">
                                    <strong>{{ key }}</strong> : {{ data }} <br />
                                </span>
                            </p>
                        </div>
                        <div class="item item-thumbnail-left" ng-if="key == 'Councillors'">
                            <img src="{{ dataRow.photoUrl }}">
                            <p>
                                <span ng-repeat="(key, data) in dataRow | generalProperties">
                                    <strong>{{ key }}</strong> : {{ data }} <br />
                                </span>
                            </p>
                        </div>
                        <div class="item tabs tabs-secondary item-divider tabs-icon-left">
                            <a ng-show="dataRow.Website" class="tab-item" browse-to="{{dataRow.Website}}">
                                <i class="icon ion-earth assertive"></i> Website
                            </a>
                            <a ng-show="dataRow.Lat" class="tab-item" browse-to="geo:0,0?q={{ dataRow.Lat }},{{ dataRow.Lng }}({{ dataRow.Name }})">
                                <i class="icon ion-map calm"></i> Map
                            </a>
                            <a ng-show="dataRow.Phone" class="tab-item" browse-to="tel:{{dataRow.Phone}}">
                                <i class="icon ion-ios-telephone assertive"></i> Phone
                            </a>
                            <a ng-show="dataRow.Mobile" class="tab-item" browse-to="tel:{{dataRow.Mobile}}">
                                <i class="icon ion-ios-telephone assertive"></i> Mobile
                            </a>
                            <a ng-show="dataRow.Email" class="tab-item" browse-to="mailto:{{dataRow.Email}}">
                                <i class="icon ion-at assertive"></i> Email
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" ng-show="!userData.uprn">
                    <div class="item item-divider top-assertive">
                        No details or location set
                    </div>
                    <div class="item item-text-wrap">
                        <p>To begin using this app you need to register and set a location.  Personal details will only be used to customise data shown in the app, and pre-populate report/comment forms.</p>
                    </div>
                    <div class="item tabs tabs-primary tabs-icon-left item-divider">
                        <a class="tab-item" ng-click="register()">
                            <i class="icon balanced ion-ios-location"></i> Set location
                        </a>
                    </div>
                </div>
                <div ng-repeat="(key, data) in (myCouncil | splitObject:'right')">
                    <h5 class="card-header">{{ key }}</h5>
                    <div class="card" ng-repeat="dataRow in data">
                        <div class="item item-divider top-royal" ng-show="dataRow.Name">
                            {{ dataRow.Name | title }}
                        </div>
                        <div class="item item-text-wrap" ng-if="key != 'Councillors'">
                            <p>
                                <span ng-repeat="(key, data) in dataRow | generalProperties">
                                    {{ key }} : {{ data }} <br />
                                </span>
                            </p>
                        </div>
                        <div class="item item-thumbnail-left" ng-if="key == 'Councillors'">
                            <img src="{{ dataRow.photoUrl }}">
                            <p>
                                <span ng-repeat="(key, data) in dataRow | generalProperties">
                                    {{ key }} : {{ data }} <br />
                                </span>
                            </p>
                        </div>
                        <div class="item tabs tabs-secondary tabs-icon-left item-divider">
                            <a ng-show="dataRow.Website" class="tab-item" browse-to="{{dataRow.Website}}">
                                <i class="icon ion-earth assertive"></i> Website
                            </a>
                            <a ng-show="dataRow.Lat" class="tab-item" browse-to="geo:0,0?q={{ dataRow.Lat }},{{ dataRow.Lng }}({{ dataRow.Name }})">
                                <i class="icon ion-map calm"></i> Map
                            </a>
                            <a ng-show="dataRow.Phone" class="tab-item" browse-to="tel:{{dataRow.Phone}}">
                                <i class="icon ion-ios-telephone assertive"></i> Phone
                            </a>
                            <a ng-show="dataRow.Mobile" class="tab-item" browse-to="tel:{{dataRow.Mobile}}">
                                <i class="icon ion-ios-telephone assertive"></i> Mobile
                            </a>
                            <a ng-show="dataRow.Email" class="tab-item" browse-to="mailto:{{dataRow.Email}}">
                                <i class="icon ion-at assertive"></i> Email
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>