<ion-view view-title="<b>MY</b>COUNCIL">
    <ion-content padding="false">
        <ion-refresher on-refresh="pullRefresh()"
                       pulling-text="Pull to refresh..."
                       refreshing-text="Refreshing!"
                       refreshing-icon="ion-loading-c">
        </ion-refresher>
        <div class="row responsive-sm">
            <div class="col">
                <h1 class="pageHeader"><b>My</b>Council</h1>
                <p>Details about local government in your area, and how to contact the Council.</p>
                <div class="item tabs item-divider tabs-primary tabs-icon-left">
                    <a class="tab-item" ng-click="openWebsite('https://twitter.com/bathnes')">
                        <i class="icon calm ion-social-twitter"></i> Twitter
                    </a>
                    <a class="tab-item" ng-click="openWebsite('http://www.bathnes.gov.uk')">
                        <i class="icon balanced ion-android-open"></i> Website
                    </a>
                    <a class="tab-item" ng-click="payForIt()">
                        <i class="icon balanced ion-card"></i> Pay a bill
                    </a>
                </div>
                <div class="item tabs tabs-secondary item-divider tabs-icon-left">
                    <a class="tab-item" ng-click="showPopup('My nearest', 'This page shows nearest services and facilities to your registered location.  To customise what is shown, use the display options link.')">
                        <i class="icon positive ion-help-circled"></i> Help
                    </a>
                    <a class="tab-item" ng-click="textTo('07797806545','Residents app message: ')">
                        <i class="icon energized ion-android-textsms"></i> Text
                    </a>
                    <a class="tab-item" ng-click="emailTo('councilconnect@bathnes.gov.uk')">
                        <i class="icon royal ion-at"></i> Email
                    </a>
                    <a class="tab-item" ng-click="showCouncilConnectPopup()">
                        <i class="icon balanced ion-ios-telephone"></i> Call
                    </a>
                </div>
                <div ng-repeat="(key, data) in (myCouncil | splitObject:'left')">
                    <h5 class="card-header">{{ key }}</h5>
                    <div class="card" ng-repeat="dataRow in data">
                        <div class="item item-text-wrap top-balanced" ng-if="dataRow.Name && dataRow.Name != ''">
                            <h2>{{ dataRow.Name }}</h2>
                            <p ng-if="dataRow.Distance && dataRow.Distance != ''">Distance: {{ dataRow.Distance | MetresToMiles }} miles</p>
                        </div>
                        <div class="item item-avatar" ng-if="key == 'Councillors'">
                            <img ng-src="data:image/png;base64,{{ dataRow.photo }}">
                            <p>
                                <span ng-repeat="(key, data) in dataRow | generalProperties">
                                    <strong>{{ key }}</strong>: {{ data }} <br />
                                </span>
                                <strong>Committees: </strong><br />
                                <span ng-repeat="committee in dataRow.Committees">
                                    {{ committee.committeeTitle }} ({{ committee.userRole }})<br />
                                </span>
                            </p>
                        </div>
                        <div class="item tabs tabs-secondary item-divider tabs-icon-left">
                            <a ng-if="dataRow.Website && dataRow.Website != ''" class="tab-item" ng-click="openWebsite('{{dataRow.Website}}')">
                                <i class="icon ion-android-open assertive"></i> Website
                            </a>
                            <a ng-if="dataRow.Lat && dataRow.Lat != ''" class="tab-item" ng-click="navigateTo('{{ dataRow.Lat }}','{{ dataRow.Lng }}')">
                                <i class="icon ion-navigate calm"></i> Navigate
                            </a>
                            <a ng-if="dataRow.Phone && dataRow.Phone != ''" class="tab-item" ng-click="callNumber('{{dataRow.Phone}}')">
                                <i class="icon ion-ios-telephone balanced"></i> Phone
                            </a>
                            <a ng-if="dataRow.Mobile && dataRow.Mobile != ''" class="tab-item" ng-click="callNumber('{{dataRow.Mobile}}')">
                                <i class="icon ion-iphone assertive"></i> Mobile
                            </a>
                            <a ng-if="dataRow.Mobile && dataRow.Mobile != ''" class="tab-item" ng-click="textTo('{{dataRow.Mobile}}','Bath app mesage: ')">
                                <i class="icon ion-android-textsms energized"></i> Text
                            </a>
                            <a ng-if="dataRow.Email" class="tab-item" ng-click="emailTo('{{dataRow.Email}}')">
                                <i class="icon ion-at royal"></i> Email
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" ng-if="!userData.uprn">
                    <div class="item item-text-wrap top-assertive">
                        <h2>No details or location set</h2>
                    </div>
                    <div class="item item-text-wrap">
                        <p>To begin using this app you need to register and set a location.  Personal details will only be used to customise data shown in the app, and pre-populate report/comment forms.</p>
                    </div>
                    <div class="item tabs tabs-primary tabs-icon-left item-divider">
                        <a class="tab-item" ng-click="register()">
                            <i class="icon balanced ion-ios-location"></i> Set location
                        </a>
                    </div>
                </div>
                <div ng-repeat="(key, data) in (myCouncil | splitObject:'right')">
                    <h5 class="card-header">{{ key }}</h5>
                    <div class="card" ng-repeat="dataRow in data">
                        <div class="item item-text-wrap top-royal" ng-if="dataRow.Name && dataRow.Name != ''">
                            <h2>{{ dataRow.Name }}</h2>
                            <p ng-if="dataRow.Distance && dataRow.Distance != ''">Distance: {{ dataRow.Distance | MetresToMiles }} miles</p>
                        </div>
                        <div class="item item-avatar" ng-if="key == 'Councillors'">
                            <img src="data:image/png;base64,{{ dataRow.photo }}">
                            <p>
                                <span ng-repeat="(key, data) in dataRow | generalProperties">
                                    <strong>{{ key }}</strong>: {{ data }} <br />
                                </span>
                                <strong>Committees: </strong><br />
                                <span ng-repeat="committee in dataRow.Committees">
                                    {{ committee.committeeTitle }} ({{ committee.userRole }})<br />
                                </span>
                            </p>
                        </div>
                        <div class="item tabs tabs-secondary tabs-icon-left item-divider">
                            <a ng-if="dataRow.Website && dataRow.Website != ''" class="tab-item" ng-click="openWebsite('{{dataRow.Website}}')">
                                <i class="icon ion-android-open assertive"></i> Website
                            </a>
                            <a ng-if="dataRow.Lat && dataRow.Lat != ''" class="tab-item" ng-click="navigateTo('{{ dataRow.Lat }}','{{ dataRow.Lng }}')">
                                <i class="icon ion-navigate calm"></i> Navigate
                            </a>
                            <a ng-if="dataRow.Phone && dataRow.Phone != ''" class="tab-item" ng-click="callNumber('{{dataRow.Phone}}')">
                                <i class="icon ion-ios-telephone balanced"></i> Phone
                            </a>
                            <a ng-if="dataRow.Mobile && dataRow.Mobile != ''" class="tab-item" ng-click="callNumber('{{dataRow.Mobile}}')">
                                <i class="icon ion-iphone assertive"></i> Mobile
                            </a>
                            <a ng-if="dataRow.Mobile && dataRow.Mobile != ''" class="tab-item" ng-click="textTo('{{dataRow.Mobile}}','Bath app mesage: ')">
                                <i class="icon ion-android-textsms energized"></i> Text
                            </a>
                            <a ng-if="dataRow.Email" class="tab-item" ng-click="emailTo('{{dataRow.Email}}')">
                                <i class="icon ion-at royal"></i> Email
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>