<ion-view view-title="<b>MY</b>HOUSE">
    <ion-content padding="false">
        <ion-refresher on-refresh="pullRefresh()"
                       pulling-text="Pull to refresh..."
                       refreshing-text="Refreshing!"
                       refreshing-icon="ion-loading-c">
        </ion-refresher>
        <div class="row responsive-sm">
            <div class="col">
                <h1 class="pageHeader"><b>My</b>House</h1>
                <p>This page shows information about your registered location.</p>
                <div class="item tabs tabs-secondary item-divider tabs-icon-left">
                    <a class="tab-item" ng-click="showPopup('My House', 'Return to this page for information about your registered location.  Bin dates, planning applications, listed status and more.')">
                        <i class="icon positive ion-help-circled"></i> Help
                    </a>
                </div>
                <div ng-repeat="(key, data) in (myHouse | splitObject:'left')">
                    <h5 class="card-header" ng-if="data && data[0] && !data[0].Info">{{ key }}</h5>
                    <div class="card" ng-repeat="dataRow in data" ng-if="dataRow.Name && dataRow.Name != ''">
                        <div class="item item-text-wrap top-balanced">
                            <h2 ng-bind-html="dataRow.Name"></h2>
                            <p ng-if="dataRow.Distance && dataRow.Distance != ''">Distance: {{ dataRow.Distance | MetresToMiles }} miles</p>
                        </div>
                        <div class="item item-text-wrap" ng-show="!isEmpty(filteredLeft)">
                            <p>
                                <span ng-repeat="(key, data) in filteredLeft = (dataRow | generalProperties)">
                                    <strong>{{ key }}</strong> : <span ng-bind-html="data"></span><br />
                                </span>
                            </p>
                        </div>
                        <div ng-repeat="(key, data) in dataRow" ng-if="key == 'Household waste' || key == 'Recycling' || key == 'Garden waste'" class="item item-icon-left">
                            <i class="icon assertive ion-trash-b" ng-if="key == 'Household waste'"></i>
                            <i class="icon calm fa fa-recycle" ng-if="key == 'Recycling'"></i>
                            <i class="icon balanced ion-leaf" ng-if="key == 'Garden waste'"></i>
                            <h3>{{ key }}</h3>
                            <p>{{ data | binDates }}</p>
                        </div>
                        <div class="item tabs tabs-secondary tabs-icon-left item-divider" ng-if="dataRow.Website && dataRow.Website != ''">
                            <a class="tab-item" ng-click="openWebsite('{{dataRow.Website}}')">
                                <i class="icon ion-android-open assertive"></i> Website
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" ng-if="!userData.uprn">
                    <div class="item item-text-wrap top-assertive">
                        <h2>No details or location set</h2>
                    </div>
                    <div class="item item-text-wrap">
                        <p>To begin using this app you need to register and set a location.  Personal details are used to customise the information shown in this app, and pre-populate reporting forms.</p>
                    </div>
                    <div class="item tabs tabs-primary tabs-icon-left item-divider">
                        <a class="tab-item" ng-click="register()">
                            <i class="icon balanced ion-ios-location"></i> Set location
                        </a>
                    </div>
                </div>
                <div ng-repeat="(key, data) in (myHouse | splitObject:'right')">
                    <h5 class="card-header" ng-if="data && data[0] && !data[0].Info">{{ key }}</h5>
                    <div class="card" ng-repeat="dataRow in data" ng-if="dataRow.Name && dataRow.Name != ''">
                        <div class="item item-text-wrap top-royal">
                            <h2 ng-bind-html="dataRow.Name"></h2>
                            <p ng-if="dataRow.Distance && dataRow.Distance != ''">Distance: {{ dataRow.Distance | MetresToMiles }} miles</p>
                        </div>
                        <div class="item item-text-wrap" ng-show="!isEmpty(filteredRight)">
                            <p>
                                <span ng-repeat="(key, data) in filteredRight = (dataRow | generalProperties)">
                                    <strong>{{ key }}</strong> : <span ng-bind-html="data"></span><br />
                                </span>
                            </p>
                        </div>
                        <div ng-repeat="(key, data) in dataRow" ng-if="key == 'Household waste' || key == 'Recycling' || key == 'Garden waste'" class="item item-icon-left">
                            <i class="icon assertive ion-trash-b" ng-if="key == 'Household waste'"></i>
                            <i class="icon calm fa fa-recycle" ng-if="key == 'Recycling'"></i>
                            <i class="icon balanced ion-leaf" ng-if="key == 'Garden waste'"></i>
                            <h3>{{ key }}</h3>
                            <p>{{ data | binDates }}</p>
                        </div>
                        <div class="item tabs tabs-secondary tabs-icon-left item-divider">
                            <a ng-if="dataRow.Website && dataRow.Website != ''" class="tab-item" ng-click="openWebsite(" {{dataRow.Website | encodeURIComponent }} ")">
                                <i class="icon ion-android-open assertive"></i> Website
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>