<ion-view view-title="My house">
    <ion-content padding="false">
        <ion-refresher on-refresh="pullRefresh()"
                       pulling-text="Pull to refresh..."
                       refreshing-text="Refreshing!"
                       refreshing-icon="ion-loading-c">
        </ion-refresher>
        <div class="row responsive-sm">
            <div class="col">
                <div class="card">
                    <div class="item item-divider top-calm">
                        My house
                    </div>
                    <div class="item item-text-wrap">
                        <p>This page shows information about your registered location.</p>
                    </div>
                    <div class="item tabs tabs-secondary item-divider tabs-icon-left">
                        <a class="tab-item" ng-click="displayOptions()">
                            <i class="icon ion-android-settings assertive"></i> Display options
                        </a>
                    </div>
                </div>
                <div ng-repeat="(key, data) in (myHouse | splitObject:'left')">
                    <h5 class="card-header" ng-if="data[0] && data[0].Category && userData.displayCategories[data[0].Category]">{{ key }}</h5>
                    <div class="card" ng-repeat="dataRow in data" ng-if="dataRow.Name && dataRow.Name != '' && userData.displayCategories[dataRow.Category]">
                        <div class="item item-divider top-balanced">
                            {{ dataRow.Name | title }}
                        </div>
                        <div class="item item-text-wrap">
                            <p>
                                <span ng-repeat="(key, data) in dataRow | generalProperties">
                                    <strong>{{ key }}</strong> : {{ data }} <br />
                                </span>
                                <span ng-repeat="(key, data) in dataRow" ng-if="key == 'Household waste' || key == 'Recycling' || key == 'Garden waste'">
                                    <strong>{{ key }}</strong> : {{ data | binDates }} <br />
                                </span>
                            </p>
                        </div>
                        <div class="item tabs tabs-secondary tabs-icon-left item-divider">
                            <a ng-if="dataRow.Website && dataRow.Website != ''" class="tab-item" ng-click="openWebsite('{{dataRow.Website}}')">
                                <i class="icon ion-android-open assertive"></i> Website
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" ng-if="!userData.uprn">
                    <div class="item item-divider top-assertive">
                        No details or location set
                    </div>
                    <div class="item item-text-wrap">
                        <p>To begin using this app you need to register and set a location.  Personal details will only be used to customise data shown in the app, and pre-populate report/comment forms.</p>
                    </div>
                    <div class="item tabs tabs-primary tabs-icon-left item-divider">
                        <a class="tab-item" ng-click="register()">
                            <i class="icon balanced ion-ios-location"></i> Set location
                        </a>
                    </div>
                </div>
                <div ng-repeat="(key, data) in (myHouse | splitObject:'right')">
                    <h5 class="card-header" ng-if="data[0] && data[0].Category && userData.displayCategories[data[0].Category]">{{ key }}</h5>
                    <div class="card" ng-repeat="dataRow in data" ng-if="dataRow.Name && dataRow.Name != '' && userData.displayCategories[dataRow.Category]">
                        <div class="item item-divider top-balanced">
                            {{ dataRow.Name | title }}
                        </div>
                        <div class="item item-text-wrap">
                            <p>
                                <span ng-repeat="(key, data) in dataRow | generalProperties">
                                    <strong>{{ key }}</strong> : {{ data }} <br />
                                </span>
                                <span ng-repeat="(key, data) in dataRow" ng-if="key == 'Household waste' || key == 'Recycling' || key == 'Garden waste'">
                                    <strong>{{ key }}</strong> : {{ data | binDates }} <br />
                                </span>
                            </p>
                        </div>
                        <div class="item tabs tabs-secondary tabs-icon-left item-divider">
                            <a ng-if="dataRow.Website && dataRow.Website != ''" class="tab-item" ng-click="openWebsite('{{dataRow.Website}}')">
                                <i class="icon ion-android-open assertive"></i> Website
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>