<ion-view view-title="NEWS">
    <ion-content padding="false">
        <ion-refresher on-refresh="pullRefresh()"
                       pulling-text="Pull to refresh..."
                       refreshing-text="Refreshing!"
                       refreshing-icon="ion-loading-c">
        </ion-refresher>
        <div class="row responsive-sm">
            <div class="col">
                <h1 class="pageHeader">News</h1>
                <p>Council and democracy news stories.</p>
                <div class="item tabs tabs-secondary item-divider tabs-icon-left">
                    <a class="tab-item" ng-click="showPopup('Council News', 'The news page shows Council news as listed on the Council website, as well as updates on Council meetings')">
                        <i class="icon positive ion-help-circled"></i> Help
                    </a>
                    <a class="tab-item" ng-click="updateNews()">
                        <i class="icon balanced ion-refresh"></i> Refresh
                    </a>
                </div>
                <h5 class="card-header" ng-if="news && news['Council news'] && news['Council news'].length > 0">Council news</h5>
                <div class="card" ng-repeat="newsItem in news['Council news']">
                    <div class="item item-text-wrap top-balanced">
                        <h2>{{ newsItem.Name }}</h2>
                    </div>
                    <div class="item item-text-wrap">
                        <p ng-bind-html="(newsItem.Summary | limitTo:100)  + '&hellip;'"></p>
                    </div>
                    <div class="item tabs tabs-secondary item-divider tabs-icon-left">
                        <a class="tab-item" ng-click="showPopup('{{ newsItem.Name }}', '{{ newsItem.Summary }}')">
                            <i class="icon positive ion-more"></i> Read more
                        </a>
                        <a ng-if="newsItem.Website && newsItem.Website != ''" class="tab-item" ng-click="openWebsite('{{newsItem.Website}}')">
                            <i class="icon ion-android-open assertive"></i> Website
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <h5 class="card-header" ng-if="news && news['Democracy news'] && news['Democracy news'].length > 0">Democracy news</h5>
                <div class="card" ng-repeat="newsItem in news['Democracy news']">
                    <div class="item item-text-wrap top-royal">
                        <h2>{{ newsItem.Name }}</h2>
                    </div>
                    <div class="item item-text-wrap">
                        <p ng-bind-html="newsItem.Summary"></p>
                    </div>
                    <div class="item tabs tabs-secondary item-divider tabs-icon-left">
                        <a ng-if="newsItem.Website && newsItem.Website != ''" class="tab-item" ng-click="openWebsite('{{newsItem.Website}}')">
                            <i class="icon ion-android-open assertive"></i> Website
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>