<div class="modal">
    <ion-header-bar class="bar-light">
        <h1 class="title">Display options</h1>
        <button class="button button-clear button-balanced" ng-click="closeMapDisplayOptions()"><i class="ion-android-done"></i> Update</button>
    </ion-header-bar>
    <ion-content>
        <p ng-if="!mapLayers !! mapLayers.length == 0">There are currently no available map options.</p>
        <div ng-repeat="category in mapLayers | mapCategories:'category'" ng-if="mapLayers && mapLayers.length > 0">
            <ion-item class="item item-divider">{{category}}</ion-item>
            <ul class="list">
                <li class="item item-toggle" ng-repeat="(layerName, layer) in mapLayers | mapCategoryItems:category">
                    {{layer.displayName}}
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="userData.MapDisplay[layerName]">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
            </ul>
        </div>
    </ion-content>
</div>