<div class="modal">
    <ion-header-bar class="bar-calm">
        <h1 class="title">Display options</h1>
        <button class="button button-clear button-primary" ng-click="closeMapDisplayOptions()">Close</button>
    </ion-header-bar>
    <ion-content>
        <div ng-repeat="category in mapLayers | mapCategories:'category'">
            <ion-item class="item-stable"
                      ng-click="toggleGroup($index)"
                      ng-class="{active: isGroupShown($index)}">
                <i class="icon" ng-class="isGroupShown($index) ? 'ion-minus' : 'ion-plus'"></i>
                &nbsp;
                {{category}}
            </ion-item>
            <ul class="list" ng-show="isGroupShown($index)">
                <li class="item item-toggle" ng-repeat="(layerName,layer) in mapLayers | mapCategoryItems:category">
                    {{layer.displayName}}
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="userData.MapDisplay[layerName]">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
            </ul>
        </div>
    </ion-content>
</div>