<div class="modal">
    <ion-header-bar class="bar-light">
        <h1 class="title">Display options</h1>
        <button class="button button-clear button-balanced" ng-click="closeDisplayOptions()"><i class="ion-android-done"></i> Update</button>
    </ion-header-bar>
    <ion-content>
        <div>
            <ul class="list">
                <li class="item item-toggle" ng-repeat="(key,data) in userData.displayCategories">
                    {{key}}
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="userData.displayCategories[key]">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
            </ul>
        </div>
    </ion-content>
</div>