<div class="modal">
    <ion-header-bar>
        <h1 class="title">Display options</h1>
        <button class="button button-clear button-primary" ng-click="closeDisplayOptions()">Close</button>
    </ion-header-bar>
    <ion-content>
		<ul class="list">
			<li class="item item-toggle">Libraries
				<label class="toggle toggle-assertive">
					<input type="checkbox" ng-model="userData.LocalHidden.Libraries">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>
			<li class="item item-toggle">Schools
				<label class="toggle toggle-assertive">
					<input type="checkbox" ng-model="userData.LocalHidden.Schools">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>
			<li class="item item-toggle">Roadworks
				<label class="toggle toggle-assertive">
					<input type="checkbox" ng-model="userData.LocalHidden.Roadworks">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>
			<li class="item item-toggle">Parking zone
				<label class="toggle toggle-assertive">
					<input type="checkbox" ng-model="userData.LocalHidden.CarPark">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>
			<li class="item item-toggle">Crossings
				<label class="toggle toggle-assertive">
					<input type="checkbox" ng-model="userData.LocalHidden.Crossings">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>
			<li class="item item-toggle">Health &amp; Fitness centres
				<label class="toggle toggle-assertive">
					<input type="checkbox" ng-model="userData.LocalHidden.Sports">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>
			<li class="item item-toggle">Planning Applications
				<label class="toggle toggle-assertive">
					<input type="checkbox" ng-model="userData.LocalHidden.Planning">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>
			<li class="item item-toggle">License Applications
				<label class="toggle toggle-assertive">
					<input type="checkbox" ng-model="userData.LocalHidden.Licenses">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>
			<li class="item item-toggle">Parks &amp; Play areas
				<label class="toggle toggle-assertive">
					<input type="checkbox" ng-model="userData.LocalHidden.ParksAndRec">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>
			<li class="item item-toggle">Allotments
				<label class="toggle toggle-assertive">
					<input type="checkbox" ng-model="userData.LocalHidden.Allotments">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>
		</ul>
    </ion-content>
</div>