<ion-view view-title="Comments">
    <ion-content padding="false">

        <div class="row responsive-sm">
            <div class="col">
                <div class="card">
                    <div class="item item-text-wrap top-calm">
                        <h1>Planning applications and Licensing</h1>
                    </div>
                    <div class="item">
                        <p>Existing and new licenses and current planning applications</p>
                    </div>
                    <div class="item tabs tabs-secondary item-divider tabs-icon-left">
                        <a class="tab-item" ng-click="showPopup('Planning and licensing', 'This page shows your licenses nearest to your locations, and also new licence application and current planning applications in your immediate area.')">
                            <i class="icon positive ion-help"></i> Help
                        </a>
                    </div>
                </div>

            </div>
            <div class="col">


            </div>
        </div>
    </ion-content>
</ion-view>