<div class="modal">
    <ion-header-bar class="bar-light">
        <button class="button button-clear button-stable" ng-click="closeSetAddress()"><i class="ion-android-close"></i> Cancel</button>
        <h1 class="title">Select address</h1>
        <button class="button button-clear button-balanced" ng-click="setProperty(userData.address)"><b><i class="ion-android-done-all"></i> Submit</b></button>
    </ion-header-bar>
    <ion-content class="padding">
        <p>Please select your address from the results below.</p>
        <form ng-submit="setProperty(userData.address)">
            <div class="list">
                <label class="item item-radio" ng-repeat="address in addresses">
                    <input type="radio" name="service_code" ng-model="userData.address" ng-value="address" required>
                    <div class="radio-content">
                        <div class="item-content">
                            <h2>{{ address.addressLine }}</h2>
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </div>
                </label>
            </div>
        </form>
    </ion-content>
</div>