<div class="modal">
    <ion-header-bar class="bar-light">
        <button class="button button-clear button-stable" ng-click="closeRegister()"><i class="ion-android-close"></i> Cancel</button>
        <h1 class="title">Register</h1>
        <button class="button button-clear button-positive" ng-click="searchUserAddress(userData.addressSearch)"><b><i class="ion-android-done"></i> Next</b></button>
    </ion-header-bar>
    <ion-content class="padding">
        <h3>Personal details</h3>
        <p>Registering within the app will save your personal details when submitting reports, and show you personalised information for your address.</p>
        <form ng-submit="searchUserAddress(userData.addressSearch)">
            <ul class="list">
                <li>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">First Name</span>
                        <input tabindex="1" type="text" placeholder="First Name" ng-model="userData.firstname">
                    </label>
                </li>
                <li>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Last Name</span>
                        <input tabindex="2" type="text" placeholder="Last Name" ng-model="userData.lastname">
                    </label>
                </li>
                <li>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Email</span>
                        <input tabindex="3" type="email" placeholder="Email" ng-model="userData.email">
                    </label>
                </li>
                <li>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Phone</span>
                        <input tabindex="4" type="tel" placeholder="Phone" ng-model="userData.phone">
                    </label>
                </li>
                <li>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">First line of address</span>
                        <input tabindex="5" type="text" placeholder="First line of address" ng-model="userData.addressSearch" required>
                    </label>
                </li>
                <li class="item item-toggle">
                    Push notifications
                    <label class="toggle">
                        <input type="checkbox" ng-model="userData.pushNotifications">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
                <li class="item">
                    <p>Opting into this service will enable the Council to provide news and other updates directly to your device. If you do not wish to receive these then please untick this option.</p>
                </li>
            </ul>
        </form>
    </ion-content>
</div>