<div class="modal">
    <!-- Modal header bar -->
    <ion-header-bar class="bar-balanced">
        <h1 class="title">Select address</h1>
        <button class="button button-clear" ng-click="closeSetAddress()">Cancel</button>
    </ion-header-bar>
    <!-- Modal content area -->
    <ion-content padding="true">
        <button class="button button-full button-clear button-stable" ng-click="setProperty(address.uprn, address.northing, address.easting, address.addressLine, address.postcode)" ng-repeat="address in addresses">
            {{address.addressLine}}
        </button>
    </ion-content>
</div>