<div class="modal">
    <ion-header-bar class="bar-light">
        <button class="button button-clear button-stable" ng-click="reportItLocationModal.hide()"><i class="ion-android-close"></i> Cancel</button>
        <h1 class="title">Report It</h1>
        <button class="button button-clear button-positive" ng-click="submitReportItPageLocation(currentReport)"><i class="ion-android-done"></i> Next</button>
    </ion-header-bar>
    <ion-content padding="true">
        <div class="list list-inset">
            <h3>Location</h3>
            <p>{{ currentReport.locationMessage }}</p>
            <form ng-submit="submitReportItPage3(currentReport)">
                <div class="list">
                    <label class="item item-radio">
                        <input type="radio" ng-value="detected" name="reportLocation" ng-model="currentReport.userLocationOption" checked>
                        <div class="item-content">
                            Use my current location for report location
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" ng-value="newAddress" name="reportLocation" ng-model="currentReport.userLocationOption">
                        <div class="item-content">
                            Set a new address for the location
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio" ng-if="userDetails.address != null">
                        <input type="radio" ng-value="userAddress" name="reportLocation" ng-model="currentReport.userLocationOption">
                        <div class="item-content">
                            Use my saved address details ({{ userDetails.address }})
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" value="mapLocation" name="reportLocation" ng-model="currentReport.userLocationOption">
                        <div class="item-content">
                            Pinpoint location on a map
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                </div>
            </form>
        </div>
    </ion-content>
</div>