<div class="modal">
    <ion-header-bar class="bar-light">
        <button class="button button-clear button-stable" ng-click="reportItCategoryModal.hide()"><i class="ion-android-close"></i> Cancel</button>
        <h1 class="title">Report Issue</h1>
        <button class="button button-clear button-positive" ng-click="submitReportItCategory(currentReport)"><b><i class="ion-android-done"></i> Next</b></button>
    </ion-header-bar>
    <ion-content>
        <div class="list list-inset">
            <p ng-if="reportServices && reportServices.length > 0">Select a category and then select Next to complete your report.</p>
            <p ng-if="reportServices && reportServices.length > 0"><strong>During beta phase these reports are being used for testing purposes only.</strong></p>
            <p ng-if="!reportServices || reportServices.length == 0">There are currently no available categories of report.</p>
            <p ng-if="!reportServices || reportServices.length == 0"><strong>During beta testing we will be enabling a number of different report types and testing these in our systems.  Pleaase check back intermittendly to see which report types will be possible.</strong></p>
            <form ng-submit="submitReportItPage1(currentReport)" ng-if="reportServices != []">
                <div class="list">
                    <label class="item item-radio" ng-repeat="service in reportServices">
                        <input type="radio" name="service_code" ng-model="currentReport.service" ng-value="service" required>
                        <div class="radio-content">
                            <div class="item-content">
                                <h2>{{ service.service_name }}</h2>
                                <p>{{ service.keywords }}</p>
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </div>
                    </label>
                </div>
            </form>
        </div>
    </ion-content>
</div>