<div class="modal">
    <ion-header-bar class="bar-light">
        <button class="button button-clear button-stable" ng-click="reportItModal.hide()"><i class="ion-android-close"></i> Cancel</button>
        <h1 class="title">Report It</h1>
        <button class="button button-clear button-positive" ng-click="submitReportItPage1(currentReport)"><i class="ion-android-done"></i> Next</button>
    </ion-header-bar>
    <ion-content>
        <div class="list list-inset">
            <h3>Report</h3>
            <p>Complete details for your report to the Council.  Select a category of report and fill in a description of the issue.</p>
            <p><strong>Note: For this Alpha release, these reports will be for test purposes only!</strong></p>
            <form ng-submit="submitReportItPage1(currentReport)">
                <div class="list">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Category of report
                        </div>
                        <select ng-model="currentReport.service_code">
                            <option ng-repeat="service in reportServices" value="{{ service.service_code }}">{{ service.service_name }}</option>
                        </select>
                    </label>
                    <label class="item item-input">
                        <textarea placeholder="Description" ng-model="currentReport.description"></textarea>
                    </label>
                </div>
            </form>
        </div>
    </ion-content>
</div>