<div class="modal">
    <ion-header-bar class="bar-light">
        <button class="button button-clear button-stable" ng-click="reportItDetailsModal.hide()"><i class="ion-android-close"></i> Cancel</button>
        <h1 class="title">Report It</h1>
        <button class="button button-clear button-positive" ng-click="submitReportItPageDetails(currentReport)"><i class="ion-android-done"></i> Next</button>
    </ion-header-bar>
    <ion-content>
        <div class="list list-inset">
            <h3>Details of Report</h3>
            <p>{{ currentReport.reportType.description }}</p>
            <form ng-submit="submitReportItDetails(currentReport)">

            </form>
        </div>
    </ion-content>
</div>