		<div style="margin: 10px;">
			<h3>My reports</h3>
			<div class="list list-inset">
				<div class="item">
					<strong>1st July 2013</strong> - Missed bin
				</div>
				<div class="item">
					<strong>2nd July 2013</strong> - 
				</div>
				<div class="item">
					<strong>3rd July 2013</strong> - 
				</div>
				<div class="item">
					<strong>4th July 2013</strong> - 
				</div>
				<div class="item">
					<strong>5th July 2013</strong> - Missed recycling collection
				</div>
			</div>
		</div>