<div class="modal">
    <ion-header-bar>
        <h1 class="title">Report It</h1>
        <button class="button button-clear button-primary" ng-click="reportItPhotoModal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content>
        <div class="list list-inset">
            <h3>Photo</h3>
            If you wish to attach a photo to the report (a picture of the pothole for example) please do so here.
            <form ng-submit="submitReportItPage2(photo)">
                <button type="button" ng-click="takePhoto()" class="button button-full button-clear button-positive">
                    Take photo
                </button>
                <div class="item item-avatar">
                    <img ng-src="currentReport.photo" ng-show="currentReport.photo" />
                </div>
                <button type="submit" class="button button-full button-clear button-positive">
                    Next
                </button>
            </form>
        </div>
    </ion-content>
</div>