<div class="modal" id = "leafletContainer">
    <ion-header-bar class="bar-balanced">
        <button class="button button-clear button-primary" ng-click="reportItMapModal.hide()">Cancel</button>
        <h1 class="title">Report It</h1>
        <button class="button button-clear button-primary" ng-click="submitReportItPage4b()">Next</button>
    </ion-header-bar>
    <ion-content padding="true">
        <leaflet data-tap-disabled="true" defaults="reportMap.defaults" center="reportMap.center" maxbounds="reportMap.maxbounds" markers="reportMap.markers" width="600px" height="600px"><!--TODO: a better way of width and height, Leaflet doesn't like percentage width/height--></leaflet>
    </ion-content>
</div>