<div class="modal">
    <ion-header-bar class="bar-light">
        <button class="button button-clear button-stable" ng-click="reportItPersonalModal.hide()"><i class="ion-android-close"></i> Cancel</button>
        <h1 class="title">Report It</h1>
        <button class="button button-clear button-balanced" ng-click="submitReportItPersonal(currentReport)"><i class="ion-android-done-all"></i> Submit</button>
    </ion-header-bar>
    <ion-content padding="true">
        <div class="list list-inset">
            <h3>Your details</h3>
            <p>Please check your personal details and amend where necessary.</p>
            <form ng-submit="submitReportItPage4(currentReport)">
                <label class="item item-input">
                    <input type="text" placeholder="First Name" ng-model="currentReport.userFirstname" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Last Name" ng-model="currentReport.userLastname" required>
                </label>
                <label class="item item-input">
                    <input type="email" placeholder="Contact email" ng-model="currentReport.userEmail" required>
                </label>
                <label class="item item-input">
                    <input type="tel" placeholder="Contact phone" ng-model="currentReport.userPhone">
                </label>
                <!--<ul class="list">
                    <li class="item item-checkbox">
                        <label class="checkbox"><input type="checkbox" ng-model="currentReport.usePersonalDetails"></label>
                        Send personal details with report
                    </li>
                </ul>-->
            </form>
        </div>
    </ion-content>
</div>