<div class="modal">
    <ion-header-bar class="bar-balanced">
        <button class="button button-clear button-primary" ng-click="reportItLocationModal.hide()">Cancel</button>
        <h1 class="title">Report It</h1>
        <button class="button button-clear button-primary" ng-click="reportItLocationModal.hide()">Next</button>
    </ion-header-bar>
    <ion-content padding="true">
        <div class="list list-inset">
            <h3>Location</h3>
            <p>{{ currentReport.locationMessage }}</p>
            <form ng-submit="submitReportItPage3(currentReport)">
                <ul class="list" ng-show="currentReport.locationFound">
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="currentReport.useUserLocation">
                        </label>
                        Use my current location for report location
                    </li>
                </ul>
                <leaflet data-tap-disabled="true" defaults="reportMap.defaults" center="reportMap.center" maxbounds="reportMap.maxbounds" markers="reportMap.markers" height="280px"></leaflet>
                <button type="submit" class="button button-full button-clear button-clear button-positive">Next</button>
            </form>
        </div>
    </ion-content>
</div>