<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bath and North East Somerset</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">	
    <link href="css/ionic.css" rel="stylesheet">
	<link href="css/custom.css" rel="stylesheet">
	<link href="css/leaflet.css" rel="stylesheet" />
	<script src="js/leaflet.js"></script>
	<script src="js/ionic.bundle.js"></script>
    <script src="js/app.js"></script>
	<script src="js/directives/angular-leaflet-directive.js"></script>
  <style type="text/css">
  .geolocate-loading {
    display: none;
  }
  </style>
  <script type="text/javascript" charset="utf-8">
  

</script>

    <!-- Needed for Cordova/PhoneGap (will be a 404 during development) -->
    <script src="cordova.js"></script>
</head>
<body ng-app="BathCouncil">

	<ion-pane ng-controller="BathCouncilController">
		<ion-nav-view></ion-nav-view>
	</ion-pane>

	<script id="menu.html" type="text/ng-template">
		<ion-side-menus>
			<!-- Center content -->
			<ion-side-menu-content>
				<ion-header-bar class="bar-dark">
					<button class="button button-icon" ng-click="toggleMenu()">
						<i class="icon ion-navicon"></i>
					</button>
					<h1 class="title">Bath and North East Somerset</h1>
					<!-- New Report button-->
					<button class="button button-icon" ng-click="reportIt()">
						<i class="icon ion-compose"></i>
					</button>
					<button class="button button-icon" ng-click="options()">
						<i class="icon ion-settings"></i>
					</button>
				</ion-header-bar>
				<ion-content>
					<ion-nav-view  name="mainContent">>
						<!-- Center content -->
					</ion-nav-view>
				</ion-content>
			</ion-side-menu-content>
			<!-- Left menu -->
			<ion-side-menu side="left">
				<ion-header-bar class="bar-dark">
					<h1 class="title">Menu</h1>
					<button class="button button-icon ion-refresh" ng-click="refresh()"></button>
				</ion-header-bar>
				<ion-content scroll="false">
					<ion-list>
						<ion-item ng-click="selectMenu('home')">
							Home
						</ion-item>
						<ion-item ng-click="selectMenu('reports')">
							My reports
						</ion-item>
						<ion-item ng-click="selectMenu('details')">
							My details
						</ion-item>
						<ion-item ng-click="selectMenu('mycouncil')">
							My Council
						</ion-item>
						<ion-item ng-click="selectMenu('map')">
							Map
						</ion-item>
					</ion-list>
				</ion-content>
			</ion-side-menu>
		</ion-side-menus>
	</script>

	<script id="home.html" type="text/ng-template">
		<div class="row responsive-sm">
			<div class="col">
				<div class="card">
					<div class="item item-image">
						<img src="images/logo.svg">
					</div>
					<div class="item tabs tabs-primary tabs-icon-left">
						<a class="tab-item" ng-click="showPopup('Bath And North East Somerset Council App', 'The Bath and North East Somerset Council app provides reporting facilities to easily connect with the Council and report issues')">
							<i class="icon positive ion-ios7-information"></i>
						</a>
						<a class="tab-item" href="https://twitter.com/bathnes">
							<i class="icon calm ion-social-twitter"></i>
						</a>
						<a class="tab-item" href="sms://07797806545?body=BathAppMessage: ">
							<i class="icon energized ion-android-mail"></i>
						</a>
					</div>
					<div class="item tabs tabs-primary tabs-icon-left">
						<a class="tab-item" href="http://www.bathnes.gov.uk">
							<i class="icon positive ion-android-earth"></i>
						</a>
						<a class="tab-item" href="mailto:councilconnect@bathnes.gov.uk">
							<i class="icon royal ion-at"></i>
						</a>
						<a class="tab-item" href="tel:01225394041">
							<i class="icon balanced ion-ios7-telephone"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="item item-body home-card">
						<p class="home-header assertive">Report It</p>
						<i class="icon assertive ion-compose"></i>
						<p>Report a new issue to the Council.</p>
					</div>
					<div class="item tabs tabs-primary tabs-icon-left">
						<a class="tab-item" ng-click="showPopup('Report It', 'Report It allows you to report issues to the council such as missed bins, potholes, or fly tipping.')">
							<i class="icon assertive ion-ios7-information"></i>
						</a>
						<a class="tab-item" href="#" ng-click="reportIt()">
							<i class="icon assertive ion-more"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="item item-body home-card">
						<p class="home-header">My Reports</p>
						<i class="icon positive ion-android-folder"></i>
						<p>Existing reports to the council sent from this device.</p>
					</div>
					<div class="item tabs tabs-primary tabs-icon-left">
						<a class="tab-item" ng-click="showPopup('Report It', 'See your existing reports, sent to the Council from this device.')">
							<i class="icon positive ion-ios7-information"></i>
						</a>
						<a class="tab-item" href="#/menu/reports">
							<i class="icon positive ion-more"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row responsive-sm">
			<div class="col">
				<div class="card">
					<div class="item item-body home-card">
						<p class="home-header balanced">Local area map</p>
						<i class="icon ion-map balanced"></i>
						<p>View local area information on a map</p>
					</div>
					<div class="item tabs tabs-primary tabs-icon-left">
						<a class="tab-item" ng-click="showPopup('Local area map', 'The local area map shows a map, with boundary layers and points of interest such as schools, libraries and Council offices.' )">
							<i class="icon ion-ios7-information balanced"></i>
						</a>
						<a class="tab-item" href="#/menu/map">
							<i class="icon ion-more balanced"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="item item-body home-card">
						<p class="home-header royal">My details</p>
						<p>Review account details stored on this device.</p>
						<i class="icon ion-ios7-person royal"></i>
					</div>
					<div class="item tabs tabs-primary tabs-icon-left">
						<a class="tab-item" ng-click="showPopup('My Details', 'You can store personal details on this device to make reporting issues quicker and easier, and to personalise the information displayed.')">
							<i class="icon ion-ios7-information royal"></i>
						</a>
						<a class="tab-item" href="#/menu/details">
							<i class="icon ion-more royal"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="item item-body home-card">
						<p class="home-header">My Council</p>
						<i class="icon calm ion-ios7-people"></i>
						<p>Details about the Council and how to get in touch.</p>
					</div>
					<div class="item tabs tabs-primary tabs-icon-left">
						<a class="tab-item" ng-click="showPopup('My Council', 'My Council shows details about Bath and North East Somerset Council, including useful phone numbers, office locations and opening hours.')">
							<i class="icon calm ion-ios7-information"></i>
						</a>
						<a class="tab-item" href="#/menu/council">
							<i class="icon ion-more"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</script>

	<script id="map.html" type="text/ng-template">
		<leaflet defaults="map.defaults" center="map.center"></leaflet>
	</script>

	<script id="reports.html" type="text/ng-template">
		<div style="margin: 10px;">
			<h3>My reports</h3>
			<div class="list list-inset">
				<div class="item">
					<strong>1st July 2013</strong> - Missed bin
				</div>
				<div class="item">
					<strong>2nd July 2013</strong> - 
				</div>
				<div class="item">
					<strong>3rd July 2013</strong> - 
				</div>
				<div class="item">
					<strong>4th July 2013</strong> - 
				</div>
				<div class="item">
					<strong>5th July 2013</strong> - Missed recycling collection
				</div>
			</div>
		</div>
	</script>
	<script id="details.html" type="text/ng-template">
		<div style="margin: 10px;">
			<h3>My details</h3>
			<div class="card">
				<div class="item item-divider">
					Dave Rowe
				</div>
				<div class="item item-text-wrap">
					Address: Flat 6, 22 Grosvenor Place, Bath, BA1 6AX
				</div>
				<div class="item item-divider">
				</div>
			</div>
		</div>
	</script>
	<script id="mycouncil.html" type="text/ng-template">
		<div style="margin: 10px;">
			<h3>My Council</h3>
			<div class="card">
				<div class="item item-divider">
					
				</div>
				<div class="item item-text-wrap">
				
				</div>
				<div class="item item-divider">
					
				</div>
			</div>
		</div>
	</script>
	
	<script id="register-details.html" type="text/ng-template">
		<div class="modal">
			<ion-header-bar>
				<h1 class="title">Register</h1>
				<button class="button button-clear button-primary" ng-click="registerPersonalDetails.hide()">Cancel</button>
			</ion-header-bar>
			<ion-content>
				<div class="list list-inset">
					<h3>Personal details</h3>
					Registering within the app will save your personal details when submitting reports, and tailor the app to your home address.
					<form ng-submit="submitPersonalDetails(personal)">
						<label class="item item-input">
							<input type="text" placeholder="First Name">
						</label>
						<label class="item item-input">
							<input type="text" placeholder="Last Name">
						</label>
						<label class="item item-input">
							<input type="email" placeholder="Email">
						</label>
						<label class="item item-input">
							<input type="text" placeholder="First line of address">
						</label>
						<button type="submit" class="button button-full button-positive">
							Submit
						</button>
					</form>
				</div>
			</ion-content>
		</div>
	</script>

	<script id="report-it-report.html" type="text/ng-template">
		<div class="modal">
			<ion-header-bar class="bar-dark">
				<h1 class="title">Report it</h1>
				<button class="button button-clear button-primary" ng-click="reportItModal.hide()">Cancel</button>
			</ion-header-bar>
			<ion-content>
				<div class="list list-inset">
					<h3>Report</h3>
					Complete details for your report to the council.  Select a category of report and fill in some details.

					<form ng-submit="submitReportItPage1(report)">
						<label class="item item-input item-select">
							<div class="input-label">
								Category of report
							</div>
							<select>
								<option>Missed rubbish</option>
								<option>Missed recycling</option>
								<option>Missed garden waste</option>
								<option>Missed clinical waste</option>
								<option>Missed garden waste</option>
								<option>Missed trade waste</option>
								<option>Pothole in the road</option>
								<option>Pavement defect</option>
								<option>Blocked drain or gully</option>
								<option>Faulty street light</option>
								<option>Overgrown vegetation</option>
								<option>Street sweeping</option>
								<option>Public litter bins</option>
								<option>Fly tipping</option>
								<option>Dead animal on a public highway</option>
								<option>Graffiti</option>
								<option>Abandoned vehicle</option>
								<option>Pothole in the road</option>
								<option>Smoking chimney in Smoke Control Area</option>
								<option>Public Rights of Way problem</option>
								<option>Contaminated land</option>
								<option>Other issue</option>
							</select>
						</label>
						<label class="item item-input">
							<textarea placeholder="Description"></textarea>
						</label>
						<button type="submit" class="button button-full button-positive">
							Next
						</button>

					</form>
				</div>
			</ion-content>
		</div>
	</script>
	
	<script id="report-it-photo.html" type="text/ng-template">
		<div class="modal">
			<ion-header-bar>
				<h1 class="title">Add photo</h1>
				<button class="button button-clear button-primary" ng-click="reportItPhotoModal.hide()">Cancel</button>
			</ion-header-bar>
			<ion-content>
				<div class="list list-inset">
					<h3>Photo</h3>
					If you wish to attach a photo to the report please do so here.
					<form ng-submit="submitReportItPage2(photo)">
						<button type="button" ng-click = "takePicture()" class="button button-full button-calm">
							Take photo
						</button>
						<button type="submit" class="button button-full button-positive">
							Next
						</button>
					</form>
				</div>
			</ion-content>
		</div>
	</script>

	<script id="report-it-location.html" type="text/ng-template">
		<div class="modal">
     
			<ion-header-bar>
				<h1 class="title">Report it</h1>
				<button class="button button-clear button-primary" ng-click="reportItLocationModal.hide()">Cancel</button>
			</ion-header-bar>
			<ion-content>
				<div class="list list-inset">
          <button ng-click="geoLocate()" class="button button-full button-calm">Find location<span ng-show = "showThrob" class="ion-looping ng-hide"></span></button>
					<h3>Location</h3>
					<span ng-app=""> <p ng-bind-html="getLat()">  </p><p>{{ subtract() }} seconds ago </p></span>
					<form ng-submit="submitReportItPage3(location)">
						<ul class="list">
							<li class="item item-checkbox">
								<label class="checkbox">
									<input type="checkbox">
								</label>
								Use my current location for report location
							</li>
						</ul>
						<button type="submit" class="button button-full button-positive">
							Next
						</button>
					</form>
				</div>
			</ion-content>
		</div>
	</script>

	<script id="report-it-personal.html" type="text/ng-template">
		<div class="modal">
			<ion-header-bar>
				<h1 class="title">Report it</h1>
				<button class="button button-clear button-primary" ng-click="reportItPersonalModal.hide()">Cancel</button>
			</ion-header-bar>
			<ion-content>
				<div class="list list-inset">
					<h3>Your details</h3>
					Your personal details are shown from your registration.  If you do not want these to be included, untick the option below.
					<form ng-submit="submitReportItPage4(report)">
						<label class="item item-input">
							<input type="text" placeholder="First Name">
						</label>
						<label class="item item-input">
							<input type="text" placeholder="Last Name">
						</label>
						<ul class="list">
							<li class="item item-checkbox">
								<label class="checkbox">
									<input type="checkbox">
								</label>
								Send personal details with report
							</li>
						</ul>
						<button type="submit" class="button button-full button-positive">
							Submit
						</button>
					</form>
				</div>
			</ion-content>
		</div>
	</script>
</body>
</html>