header h1 {
    font-weight: bold;
}

i.listIcons {
    font-size: 24px;
}

.slider {
    height: 100%;
}

.slider-slide {
    padding-top: 80px;
    text-align: center;
    font-weight: 300;
}

.logo img {
    padding: 5px;
}

#list {
    width: 170px;
    margin: 30px auto;
    font-size: 20px;
}

    #list ol {
        margin-top: 30px;
    }

        #list ol li {
            text-align: left;
            margin: 10px 0px;
        }

.toggle.toggle-balanced .track {
    border-color: #ef4e3a;
    background-color: #ef4e3a;
}

.home-card {
    text-align: center;
}

    .home-card i {
        font-size: 48px;
    }

    .home-card .home-header {
        font-size: 32px;
    }

.scroll {
    min-height: 100%;
}

.angular-leaflet-map {
    height: 100%;
}

.card .item:first-child {
    /* height: 11em; */
}

ion-nav-view {
    background-color: #fff;
}

.card {
    overflow: inherit;
}

/*Overwrite cards hiding extra information
This happens on portrait phone screens, and is unhelpful at best
*/
.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {
    white-space: normal;
}

.leaflet-popup-content-wrapper {
    background: #fff;
    color: #000;
    font-size: 16px;
    line-height: 24px;
    border-radius: 0px !important;
}

a.leaflet-popup-close-button{
    font-size: 24px !important;
    width: 32px !important;
    height: 32px !important;
    padding: 5px 5px 5px 5px !important;
    color: #0094ff !important;
}

.leaflet-popup-content{
    margin-top: 20px !important;
}