.scroll, .ion-content {
    /*background-color: #F0F0F0 !important; */
}

header h1 {
    font-weight: bold;
}

.card-header {
    margin: 20px 10px !important;
    text-transform: uppercase !important;
    color: #ccc;
    font-weight: 700;
}

ion-side-menu.menu-left.menu {
    /*background-color: #5B6166 !important;*/
}

.top-stable {
    border-top: 4px solid #f8f8f8 !important;
}

.top-positive {
    border-top: 4px solid #387ef5 !important;
}

.top-positive h2, .top-positive h1 {
    color: #387ef5 !important;
}


.top-calm {
    border-top: 4px solid #11c1f3 !important;
}

.top-calm h2, .top-calm h1 {
    color: #11c1f3 !important;
}

.top-assertive {
    border-top: 4px solid #ef473a !important;
}

.top-assertive h2, .top-assertive h1 {
    color: #ef473a !important;
}

.top-balanced {
    border-top: 4px solid #33cd5f !important;
}

.top-balanced h2, .top-balanced h1 {
    color: #33cd5f !important;
}

.top-energized {
    border-top: 4px solid #ffc900 !important;
}

.top-energized h2, .top-energized h1 {
    color: #ffc900 !important;
}

.top-royal {
    border-top: 4px solid #886aea !important;
}

.top-royal h2, .top-royal h1 {
    color: #886aea !important;
}

.top-dark {
    border-top: 4px solid #444444 !important;
}

.top-dark h2, .top-dark h1 {
    color: #444444 !important;
}

i.listIcons {
    font-size: 24px;
}

.slider {
    height: 100%;
}

.slider-slide {
    padding-top: 80px;
    text-align: center;
    font-weight: 300;
}

#list {
    width: 170px;
    margin: 30px auto;
    font-size: 20px;
}

    #list ol {
        margin-top: 30px;
    }

        #list ol li {
            text-align: left;
            margin: 10px 0px;
        }

.toggle.toggle-balanced .track {
    border-color: #ef4e3a;
    background-color: #ef4e3a;
}

.scroll {
    min-height: 100%;
}

.angular-leaflet-map {
    height: 100%;
    width: 100%;
    position: absolute !important;
}

ion-nav-view {
    background-color: #fff;
}

.card {
    overflow: inherit;
}

/*Overwrite cards hiding extra information
This happens on portrait phone screens, and is unhelpful at best
*/
.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {
    white-space: normal;
}

.item h2 {
    font-weight: 700;
}

#divLogo img {
    padding: 5px;
}

#divCarParks {
    height: 300px;
}

/**
  * Removes the layers control
  * doesn't look like there's an easy fix for this
  * https://github.com/tombatossals/angular-leaflet-directive/issues/130
**/
.leaflet-control-layers.leaflet-control {
    display: none !important;
}

/**
  * Ionic sets the last-child to have a larger bottom margin.
  * This looks bad on a row-responsive
**/
.list:last-child.card {
    margin-bottom: 20px;
}

ion-content.scroll-content.ionic-scroll {
    /* margin-top: 40px; */
}

/*
 * These CSS rules affect the tooltips within maps with the custom-popup
 * class. See the full CSS for all customizable options:
 * https://github.com/mapbox/mapbox.js/blob/001754177f3985c0e6b4a26e3c869b0c66162c99/theme/style.css#L321-L366
 */
.custom-popup .leaflet-popup-content-wrapper {
    background: #2c3e50;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    border-radius: 0px;
}

    .custom-popup .leaflet-popup-content-wrapper a {
        color: rgba(255,255,255,0.5);
    }

.custom-popup .leaflet-popup-tip-container {
    width: 30px;
    height: 15px;
}

.custom-popup .leaflet-popup-close-button {
    display: none;
}

.custom-popup .leaflet-popup-tip {
    /*border-left: 15px solid transparent;
    border-right: 15px solid transparent;*/
    border-top: 15px solid #2c3e50;
    background: #2c3e50;
}

.custom-popup .leaflet-layers {
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
    cursor: pointer;
}

    .custom-popup .leaflet-layers a {
        font-size: 2em !important;
        margin-left: 1px;
        color: #444;
        cursor: pointer !important;
    }

    .custom-popup .leaflet-layers.active a {
        color: #2074B6;
    }

.leaflet-layers.active.following a {
    color: #FC8428;
}
